/*
{{Color_1}}: cc0033
{{Color_1_Shade}}: a30028
{{Color_2}}: 5f676f
{{Color_2_Tint}}: e3e4e5
{{Logo_URL}}: vdssupport.github.io/vision/rutgers-logo-100 - Edited.png
*/

html {
    background: #cc0033;
}

.splash {
    background-color: #cc0033;
}

.splash .loading path {
    fill: #fff;
}

header.header-main {
    background-color: #cc0033;
    height: 10.5em;
}

.logo {
    background: url('//sharptopco.github.io/cloudcard-custom-assets/organizations/Rutgers/rutgers-logo-100 - Edited.png') top center no-repeat;
    alignment: center;
  display: inline-block;
  width: 15.625em;
  background-size: contain;	
}

header.header-page {
    background-color: #5f676f;
}

.header-page .tabs li a {
    border-bottom-color: #5f676f;
    color: #e3e4e5;
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus {
    color: #fff;
}

/* For rutgers this is too dark. But it would be good to have in as an option.
.header-page .tabs a.active {
    border-bottom-color: #cc0033;
}
*/

.header-page .buttons button {
    background-color: #cc0033;
    color: #fff;
}

.header-page button {
    background-color: #5f676f;
    color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus {
    background-color: #5e676f;
    color: #fff;
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #cc0033;
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #5f676f;
}

button:hover,
button:focus {
    background-color: #e3e4e5;
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #cc0033;
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #a30028;
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #e3e4e5;
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus {
    color: #fff;
}

.admin-links .fa {
    color: #e3e4e5;
}

table th,
table td {
    background: #e3e4e5;
}

.footer {
    background: #cc0033;
}

button.download_button {
    display: none;
}

a.sign-out {
    display: none;
}
